main{
   margin: 0 !important;
}
.product{
   height: 100%;
   text-transform: uppercase;
}
.product__content{
   display: flex;
   .product__image{
      width: 50vw;
      height: 100%;
      padding: 100px 0 144px 0;
      border-right: 1px solid #fff;
      img{
         width: 794px;
         height: 794px;
         @include bp(1600px){
            width: 694px;
            height: 694px;
         }
      }
   }
   .product__block-wrapper{
      display: flex;
      width: 50vw;
      justify-content: center;
      .product__block{
         margin: 147px 0 0 0;
         width: 547px;
         display: flex;
         flex-direction: column;
         .product__info{
            width: 561px;
         }
         .product__title{
            font-weight: 700;
            font-size: 32px;
            line-height: 125%;
         }
         .product__data{
            margin: 40px 0 0 0;
            font-weight: 700;
            font-size: 24px;
            color: #C1E1FF;
         }
         .product__interest{
            display: flex;
            margin: 10px 0 0 0;
         }
         .product__text{
            margin: 40px 0 0 0;
            font-weight: 400;
            text-transform: none;
            font-size: 20px;
            display: flex;
            flex-direction: column;
            gap: 14px;
            line-height: 150%;
         }
         .product__bottom-info{
            margin: 40px 0 0 0;
            display: flex;
            align-items: center;
            gap: 30px;
            .product__capacity{
               font-weight: 500;
               font-size: 24px;
            }
            .product__price{
               font-size: 40px;
               line-height: 47px;
               font-weight: regular;
            }
         }
         .product__button{
            display: flex;
            width: 534px;
            height: 80px;
            border: 1px solid #fff;
            margin: 30px 0 0 0;
            .product__button-left{
               display: flex;
               align-items: center;
               justify-content: space-between;
               width: 100px;
               height: 80px;
               margin: 0 20px;
            }
            .product__button-right{
               display: flex;
               align-items: center;
               justify-content: center;
               width: 100%;
               border-left: 1px solid #fff;
            }  
         }
      }
   }
   
}